@CHARSET "UTF-8";

#div_espacio_trabajo {
	width: 100%;
	height: 579px;
	background: transparent; /* pink; */
}

#div_esquina_redonda {
	border-radius: 25px;
	width: 1000px;
	height: 505px;
	margin-left: auto;
	margin-right: auto;
	background: #EAEAEA;
}

#div_contenedor_menu_registro {
	width: 742px;
	height: 35px;
	margin-left: auto;
	margin-right: auto;
	background: transparent; /* red; */
}

#div_menu_datos_generales {
	width: 176px;
	height: 100%;
	float: left;
	background:transparent; /* yellow; */
}

#div_menu_datos_colacion {
	width: 278px;
	height: 100%;
	float: left;
	background:transparent; /* green; */ 
}

#div_menu_datos_hospedaje {
	width: 134px;
	height: 100%;
	float: left;
	background:transparent; /* black; */
}

#div_menu_datos_pago {
	width: 154px;
	height: 100%;
	float: left;
	background:tra /* blue; */
}

#div_contenedor_formularios {
	width: 100%;
	height: 470px;
	background: transparent; /* cyan; */
}

#div_contenedor_datos_generales,
#div_contenedor_datos_colacion,
#div_contenedor_datos_hospedaje,
#div_contenedor_datos_pago {
	width: 100%;
	height: 470px;
}

#div_contenedor_ambos_paneles {
	width: 100%;
	height: 423px;
	background: transparent;  /* #Ab78d9; */
}

#div_panel_izquierdo {
	width: 500px;
	height: 100%;
	float: left;
	background: transparent; /* blue; */
}

#div_panel_derecho {
	width: 500px;
	height: 100%;
	float: right;
	background: transparent; /* fuchsia; */
}

#div_pie_panel {
	width: 100%;
	height: 47px;
	background: transparent; /* brown; */
}

#div_columna_izquierda_datos_generales,
#div_columna_izquierda_datos_filiacion {
	width: 282px; /* 58%; */
	height: 100%;
	float: right;
	margin-right: 30px;
	background: transparent; /* black; */
}

#div_columna_derecha_datos_generales,
#div_columna_derecha_datos_filiacion {
	width: 58%;
	height: 100%;
	float: left;
	margin-left: 30px;
	background: transparent; /* black; */
}

#div_panel_izquierdo_derecho_unificado {
	width: 872px;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	background: transparent; /* orange; */
}

#div_columna_izquierda_datos_hospedaje {
	width: 232px;
	height: 100%;
	float: left;
	background: transparent;  /* yellow; */
}

#div_contenedor_tabla_izquierda_datos_hospedaje {
	width: 222px;
	height: 100%;
	margin-right: 10px;
	background: transparent; /* green; */
}

#div_columna_derecha_datos_hospedaje {
	width:640px;
	height: 100%;
	float: left;
	background: transparent; /* fuchsia; */
}

#div_columna_izquierda_datos_pago {
	width: 329px;
	height: 100%;
	float: left;
	background: transparent; /* maroon; */
}

#div_columna_centro_datos_pago {
	width: 306px;
	height: 100%;
	float: left;
	background: transparent; /* fuchsia; */
}

#div_contenedor_conceptos_pago {
	border-radius: 20px;
	width: 270px;
	padding-left: 10px;
	padding-right: 10px; 
	background: #fff;
}

#div_columna_derecha_datos_pago {
	width: 237px;
	height: 100%;
	float: left;
	background: transparent; /* green; */
}

#div_contenedor_conceptos_transferencia {
	width: 222px;
	margin-left: 5px; 
	margin-right: 5px;
	background: transparent; /* red; */
}

#div_contenedor_btns_cambio_panel {
	width: 308px;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	background: transparent; /* maroon; */
}

#div_advertencia {
	width: 850px;
	height: 35px;
	margin-left: auto;
	margin-right: auto;
	background: transparent; /* purple; */
}

#div_texto_advertencia {
	padding-top: 3px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: small;
	text-align: justify;
	color: #6A6A6A;
}

table {
	margin: 0px;
	border: 0px;
	padding: 0px;
	width: 100%;
	font-family: Verdana, Geneva, sans-serif; 
	font-size: small;
}

.morado {
	color: #670499;
}

.gris {
	color: #6A6A6A;
	font-size: x-small;
}

input,
select {
	/*border-radius: 25px;*/
	width: 100%;
}

