@CHARSET "UTF-8";

#div_banda_vertical {
	width: 200px;
	height: 609px;
	float: left;
	background: black; /* #000; */
}

#div_leon {
	width: 200px;
	height: 152px;
	margin-top: 230px;
}

#div_descripcion_acompaniantes {
	width: 950px;
	/*height: 1000px;*/
	float: right;
	background: transparent; /* pink; */
}

#div_padding {
	padding-top: 60px; 
	padding-left: 50px;
	padding-right: 28px;
	background: transparent; /* green; */
}

#div_programa_acompaniantes {
	margin-left: auto;
	margin-right: auto;	
}