@CHARSET "UTF-8";

#div_cortina {
	
}

#div_mensaje {
	width: 100%;
	height: 609px;
}

#div_banda_vertical {
	width: 200px;
	height: 100%;
	float: left;
	background: black; /* #000; */
}

#div_leon {
	width: 200px;
	height: 152px;
	margin-top: 230px;
}

#div_fotografia {
	width: 300px;
	height: 100%;
	float: left;
	background: transparent; /* gray; */ /* gray; */ /* #a0cf12; */
}

#div_comendador {
	width: 230px;
	height: 346px;
	margin-top: 105px;
	margin-left: 55px;
}

#pie_foto {
	width: 230px;
	background: transparent; /* orange; */
}

#div_invitacion {
	width: 650px;
	height: 100%;
	float: left;
	background: transparent; /*red;*/
}

#div_contenido_mensaje {
	width: 90%;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	background: transparent;/* orange; */
}

#div_contador_visitas {
	font-family: Verdana, Geneva, sans-serif;
	font-size: small;
	color: #6A6A6A;
}

p {
	font-family: Verdana, Geneva, sans-serif;
	text-indent: 2em;
	font-size: small;
}

.morado {
	color: #670499;
	font-weight: bold;
}

.negrita {
	color: #000;
	font-weight: bold;
}

.centrado {
	text-align: center;
}

.justificado {
	text-align: justify;
	
}