<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context-3.1.xsd">

	<context:property-placeholder location="/WEB-INF/config/conf_conexion.properties" />

	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="username" value="${database.username}"/>
		<property name="password" value="${database.password}"/>
		<property name="url" value="${database.url}"/>
		<property name="driverClassName" value="${database.driver}"/>
	</bean>
	
	<bean id="sessionFactory" class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
		<property name="dataSource" ref="dataSource"/>
		<property name="configLocation">
            <value>classpath:hibernate/hibernate.cfg.xml</value>
        </property>
	</bean>
	
	<bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager"> 
		<property name="sessionFactory" ref="sessionFactory" /> 
	</bean>
	
	<!-- inyeccion de datasource a daos -->
	<bean id="acompanianteDao" class="com.artiffex.scm.web.eistier.dao.implementacion.AcompanianteDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="colacionGradoDao" class="com.artiffex.scm.web.eistier.dao.implementacion.ColacionGradoDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="costoAcompanianteDao" class="com.artiffex.scm.web.eistier.dao.implementacion.CostoAcompanianteDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="costoCongresistaDao" class="com.artiffex.scm.web.eistier.dao.implementacion.CostoCongresistaDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="estadoDao" class="com.artiffex.scm.web.eistier.dao.implementacion.EstadoDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="gradoDao" class="com.artiffex.scm.web.eistier.dao.implementacion.GradoDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="gradoPretendeDao" class="com.artiffex.scm.web.eistier.dao.implementacion.GradoPretendeDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="gradoPretendePrecioDao" class="com.artiffex.scm.web.eistier.dao.implementacion.GradoPretendePrecioDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="hospedajeDao" class="com.artiffex.scm.web.eistier.dao.implementacion.HospedajeDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="hotelDao" class="com.artiffex.scm.web.eistier.dao.implementacion.HotelDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="pagoDao" class="com.artiffex.scm.web.eistier.dao.implementacion.PagoDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="paqueteHotelDao" class="com.artiffex.scm.web.eistier.dao.implementacion.PaqueteHotelDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="parametroConfiguracionDao" class="com.artiffex.scm.web.eistier.dao.implementacion.ParametroConfiguracionDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="participanteDao" class="com.artiffex.scm.web.eistier.dao.implementacion.ParticipanteDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="perfilDao" class="com.artiffex.scm.web.eistier.dao.implementacion.PerfilDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="perfilXUsuarioDao" class="com.artiffex.scm.web.eistier.dao.implementacion.PerfilXUsuarioDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="registroDao" class="com.artiffex.scm.web.eistier.dao.implementacion.RegistroDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="tipoMesaDao" class="com.artiffex.scm.web.eistier.dao.implementacion.TipoMesaDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="tipoParticipacionDao" class="com.artiffex.scm.web.eistier.dao.implementacion.TipoParticipacionDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="tipoPonenciaDao" class="com.artiffex.scm.web.eistier.dao.implementacion.TipoPonenciaDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="usuarioDao" class="com.artiffex.scm.web.eistier.dao.implementacion.UsuarioDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="utilidadesDao" class="com.artiffex.scm.web.eistier.dao.implementacion.UtilidadesDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	
</beans>
