<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC 
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN" 
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
	
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.max_allowed_packet">50M</property>
<!-- LOCAL DEPLOY, LOCAL DATABASE -->
<!-- 
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/xxxvicon_lithomat_scm_artiffex</property>
		<property name="hibernate.connection.username">root</property>
-->
		
<!-- LOCAL DEPLOY, REMOTE DATABASE -->
<!-- 
		<property name="hibernate.connection.url">jdbc:mysql://31.170.106.44:3306/xxxvicon_lithomat_scm_artiffex</property>
		<property name="hibernate.connection.username">xxxvicon_root</property>
		<property name="hibernate.connection.password">Hno33Ovidio</property>
-->

<!-- REMOTE DEPLOY, REMOTE DATABASE  -->
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/xxxvicon_lithomat_scm_artiffex</property>
		<property name="hibernate.connection.username">xxxvicon_root</property>
		<property name="hibernate.connection.password">Hno33Ovidio</property>

		<property name="hibernate.autoReconnect">true</property>
		<property name="hibernate.autoReconnectForPools">true</property>
		<property name="hibernate.transaction.auto_close_session">true</property>
		<property name="use_outer_join">true</property>
		<property name="hibernate.transaction.factory_class">org.hibernate.transaction.JDBCTransactionFactory</property>
		<property name="hibernate.show_sql">false</property>
		<property name="current_session_context_class">thread</property>
		<property name="hibernate.enable_lazy_load_no_trans">true</property>
		<!-- HIBERNATE 4: tiene la clase hql.internal.classic -->
		<!-- <property name="hibernate.query.factory_class">org.hibernate.hql.internal.classic.ClassicQueryTranslatorFactory</property>-->
		<!-- HIBERNATE 3: NO tiene la clase hql.classic -->
		<property name="hibernate.query.factory_class">org.hibernate.hql.classic.ClassicQueryTranslatorFactory</property>
		<property name="hibernate.cache.provider_class">org.hibernate.cache.NoCacheProvider</property>
<!--************** JDBC connection pool C3PO *****************-->
		<property name="hibernate.connection.provider_class">org.hibernate.connection.C3P0ConnectionProvider</property>
		<property name="hibernate.c3p0.min_size">10</property>
		<property name="hibernate.c3p0.max_size">50</property>
		<property name="hibernate.c3p0.initialPoolSize">5</property>
		<property name="hibernate.c3p0.acquire_increment">1</property>
		<property name="hibernate.c3p0.timeout">360000</property>
		<property name="hibernate.c3p0.idle_test_period">180</property>
<!-- ************ END JDBC connection pool C3PO ****************-->
<!-- La ruta es absoluta -->
		<!-- con XML -->
		<!-- <mapping resource="hibernate/hn_acabado.hbm.xml"/> -->
		
		<!-- con @Annotations -->
		<mapping class="com.artiffex.scm.web.businesstier.entity.Acompaniante"/>
		<mapping class="com.artiffex.scm.web.businesstier.entity.ColacionGrado"/>
		<mapping class="com.artiffex.scm.web.businesstier.entity.CostoAcompaniante"/>
		<mapping class="com.artiffex.scm.web.businesstier.entity.CostoCongresista"/>
		<mapping class="com.artiffex.scm.web.businesstier.entity.Estado"/>
		<mapping class="com.artiffex.scm.web.businesstier.entity.Grado"/>
		<mapping class="com.artiffex.scm.web.businesstier.entity.GradoPretende"/>
		<mapping class="com.artiffex.scm.web.businesstier.entity.GradoPretendePrecio"/>
		<mapping class="com.artiffex.scm.web.businesstier.entity.Hospedaje"/>
		<mapping class="com.artiffex.scm.web.businesstier.entity.Hotel"/>
		<mapping class="com.artiffex.scm.web.businesstier.entity.Pago"/>
		<mapping class="com.artiffex.scm.web.businesstier.entity.PaqueteHotel"/>
		<mapping class="com.artiffex.scm.web.businesstier.entity.ParametroConfiguracion"/>
		<mapping class="com.artiffex.scm.web.businesstier.entity.Participante"/>
		<mapping class="com.artiffex.scm.web.businesstier.entity.Perfil"/>
		<mapping class="com.artiffex.scm.web.businesstier.entity.PerfilXUsuario"/>
		<mapping class="com.artiffex.scm.web.businesstier.entity.Registro"/>
		<mapping class="com.artiffex.scm.web.businesstier.entity.TipoMesa"/>
		<mapping class="com.artiffex.scm.web.businesstier.entity.TipoParticipacion"/>
		<mapping class="com.artiffex.scm.web.businesstier.entity.TipoPonencia"/>
		<mapping class="com.artiffex.scm.web.businesstier.entity.Usuario"/>
	</session-factory>
</hibernate-configuration>